<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841916085039-c1h5e4k5smot5pllouqdveidgvs1adtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841916085039-c1h5e4k5smot5pllouqdveidgvs1adtt</string>
	<key>API_KEY</key>
	<string>AIzaSyB0oktQEFkFxoo-dhhTSgSk7GG-19GqKQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>841916085039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseGraphql</string>
	<key>PROJECT_ID</key>
	<string>graphql-firebase-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>graphql-firebase-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841916085039:ios:44cb7c7c9884a1321da7da</string>
</dict>
</plist>